.group-item {
  align-items: center;
  justify-content:flex-start;
  padding: 3px 8px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.group-item:hover {
  background-color: rgb(200,200,200)
}

.group-item-indent-0 {
  margin-left: 5px
}

.group-item-indent-1 {
  margin-left: 15px
}

.group-item-indent-2 {
  margin-left: 25px
}

.group-item-indent-3 {
  margin-left: 35px
}

.group-item-indent-4 {
  margin-left: 45px
}

.group-item-indent-5 {
  margin-left: 55px
}

.group-item img {
  height: 35px;
  margin-top: 8px
}

.group-item h2 {
  margin: 0 12px;
  font-size: 28px
}

.group-description h5{
  color: rgb(10, 10, 10);
}

.group-description h6{
  color: rgb(150, 150, 150)
}

.item-expand-rotate {
  transform: rotate(90deg) translateX(-5px);
}
